.Project {
  max-width: 820px;
  margin: 20px auto;
  padding: 20px;
  outline: 1px solid rgba(167, 172, 174, 0.5);
}

.Project img {
  width: 100%;
}

.Project .title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.Project .title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  left: 0;
  bottom: -15px;
  background-color: #626E73;
}

.Project strong {
  color: #4c646e;
  font-weight: bold;
  border-bottom: 2px solid rgba(76, 100, 110, 0.1); 
}

.Project .content p {
  padding-left: 0px;
  position: relative;
}

.Project .description {
  font-size: 16px;
  margin: 26px 18px 0px 0px;
}

.Project ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  padding: 0;
  color: #babfc1;
}

.Project li {
  font-size: 9px;
  display: inline-block;
  margin-right: 5px;
  padding: 3px;
}

.Project .button-row {
  display: flex;
  justify-content: center;
}

.Project .button-row a {
  cursor: pointer;
  margin: 20px 20px 0 20px;
  flex-basis: auto;
  flex-grow: 0;
  border: none;
  background-color: #5F6E74;
  font-size: 14px;
  padding: 8px;
  color: #F1F2F2;
  text-decoration: none;
}

.Project .readmore {
  font-size: 12px;
  width: 100%;
  text-align: center;
  height: 2em;
}

.Project .readmore button {
  cursor: pointer;
  border: none;
  background-color: white;
}