header
    img(src='https://res.cloudinary.com/dk85nueap/image/upload/v1494642367/avatar_g1a9xb.jpg' width='64' height='64' alt='Grayson Gilmore')
    .name
        h1 GRAYSON GILMORE
        h4 Fullstack Web Developer
    ul.links
        li
            a(target='_blank' rel='noopener noreferrer' href='https://github.com/gilmoreg')
                i(class='fa fa-github' aria-hidden='true' title='github')
        li
            a(target='_blank' rel='noopener noreferrer' href='https://www.linkedin.com/in/graysongilmore/')
                i(class='fa fa-linkedin-square' aria-hidden='true')
        li
            a(target='_blank' rel='noopener noreferrer' href='assets/grayson_gilmore_resume.pdf')
                i(class='fa fa-file-pdf-o' aria-hidden='true' title='resume')
        li
            a(target='_blank' rel='noopener noreferrer' href='mailto:gilmoreg@live.com')
                i(class='fa fa-envelope' aria-hidden='true' title='email me!')