nav.sticky
    ul.sticky-links
        li
            a(data-target='greetings') About Me
        li
            a(data-target='projects') Projects
        li
            a(data-target='skills') Skills
        li
            a(data-target='otherstuff') Other Stuff