* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

/* Non-mobile, grid */
@media (min-width: 768px) {
  .col-1 {width: 8.2%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

body {
  color: #626E73;
  opacity: 0;
}

main {
  position: relative;
}

/*
  HEADER
*/
header {
  padding: 5px 20px;
  background-color: #657075;
  color: white;
  height: 90px;
  width: 100%;
}

header img {
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
}

header .name {
  display: inline-block;
  position: relative;
  top: -1em;
}

header h1 {
  color: white;
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 3px;
}

header h4 {
  color: #A7ACAE;
  font-size: 14px;
}

/*
  STICKY NAV
*/
.sticky {
  text-align: center;
  background-color: white;
  color: #626E73;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  height: 40px;
  position: relative;
  width: 100%;
}

.sticky-links {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 820px;
}
.sticky-links li {
  display: inline-block;
  padding: 0 8px;
  margin-top: 10px;
  flex-grow: 1;
  cursor: pointer;
}

.sticky-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 150;
  animation: .55s ease-out 0s forwards darkenSticky;
}

h4 {
  margin: 0;
}

@media (min-width: 480px) {
  nav h1 {
    margin-bottom: 3px;
  }
}

.links {
  float: none;
  list-style: none;
  font-size: 24px;
  color: black;
  margin: 0;
  margin-left: 65%;
  margin-right: 5px;
  margin-top: -10px;
  padding: 0;
}

.links a {
  color: white;
}

.fa-file-pdf-o {
  transform: scale(.85);
}

@media (min-width: 540px) {
  .links {
    float: right;
    list-style: none;
    font-size: 24px;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    margin-top: 23px;
  }
}

@media (max-width: 540px) {
  header {
    height: 110px;
  }
  .links {
    margin-left: 30%;
    margin-top: -15px;
  }
  nav {
    text-align: center;
  }
  nav .name {
    margin-top: 10px;
  }
}

.links a:visited {
  color: white;
}

.links li {
  display: inline-block;
  margin: 5px;
}

/*

  ONE-COLUMN DIVS

*/
.onecolumn {
  max-width: 820px;
  margin: 0 auto;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  outline: 1px solid rgba(167, 172, 174, 0.5);
}

.onecolumn h1 {
  text-align: left;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-top: 1em;
  position: relative;
}

.onecolumn h1::after {
  content: "";
  width: 28px;
  height: 6px;
  position: absolute;
  background-color: #5f6e74;
  bottom: -20px;
  left: 3px;
}

.onecolumn p {
  padding: 0px 40px;
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

#projects {
  margin: 0 auto;
}

/*
 OTHERSTUFF
*/
.otherstuff p {
  margin-bottom: 8px;
  font-size: 16px;
}

.otherstuff ul {
  margin-top: 8px;
  margin-left: 20px;
}

.otherstuff a {
  color: black;
  text-decoration: none;
}

.otherstuff a:visited {
  color: black;
  text-decoration: none;
}
/*
  THREE COLUMN DIVS
*/

.threecolumn {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.threecolumn h4 {
  text-align: center;
}

.threecolumn ul {
  list-style: none;
  margin: 5px;
  padding: 10px;
}

.threecolumn li {
  margin-bottom: 10px;
}

.skill img {
  width: 75px;
}

#mocha {
  width: 58px;
}

#chai {
  width: 50px;
}

/*
  PORTFOLIO CLASS
*/
.portfolio {
  max-width: 1024px;
  margin: 10px auto;
}

/*
  PROJECT CLASS
*/
.project {
  max-width: 820px;
  margin: 20px 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.project img {
  width: 100%;
}

.project .title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.project .title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  left: 0;
  bottom: -15px;
  background-color: #626E73;
}

.project strong {
  color: #4c646e;
  font-weight: bold;
  border-bottom: 2px solid rgba(76, 100, 110, 0.1); 
}

.project .content p {
  padding-left: 0px;
  position: relative;
}

.project .description {
  font-size: 16px;
  margin: 26px 18px 0px 0px;
}

.project ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  padding: 0;
  color: #babfc1;
}

.project li {
  font-size: 9px;
  display: inline-block;
  margin-right: 5px;
  padding: 3px;
}

.project .button-row {
  display: flex;
  justify-content: center;
}

.project .button-row a {
  cursor: pointer;
  margin: 20px 20px 0 20px;
  flex-basis: auto;
  flex-grow: 0;
  border: none;
  background-color: #5F6E74;
  font-size: 14px;
  padding: 8px;
  color: #F1F2F2;
  text-decoration: none;
}

.project .readmore {
  font-size: 12px;
  width: 100%;
  text-align: center;
  height: 2em;
}

.project .readmore button {
  cursor: pointer;
  border: none;
  background-color: white;
}

/*
  FOOTER
*/
footer {
  background-color: #657075;
  color: white;
  width: 100%;
  text-align: center;
  height: 60px;
}

footer .links {
  float: none;
}

footer p {
  font-size: 10px;
  margin-top: 2px;
}

/*
 * ANIMATIONS / TRANSITIONS
 */
.body-fade-in {
	opacity: 0;
	animation: .55s ease-out .5s forwards fadeInBody;
}

.darken-sticky {
  background-color: #657075; color: white;
  animation: .55s ease-out .5s forwards darkenSticky;
}

/* keyframes */
@keyframes fadeInBody {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes darkenSticky {
  from { background-color: white; color: #657075; }
  to { background-color: #657075; color: white; }
}

/*
  UTILITY
*/
.hidden {
  display: none;
}

.fade {
  margin-bottom: 0;
}

.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}

.fade::after {
  position: absolute;
  left: 0;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable */
}